.background {
    background-image: url(imgs/John-Tyler.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    background: url(imgs/002-subtle-light-pattern-background-texture.jpg);
    overflow-x: hidden;
  }

  .section {
    position: relative;
    color: white;
    overflow-x: hidden;
  }

  .section img {
    width: 100%;
    height: auto;
    opacity: 0.7;
  }

  .section .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .section {
      width: 45%;
    }
  }

  @media (max-width: 480px) {
    .section {
      width: 100%;
    }
  }

#texas {
  width: 75%;
  position: relative;
  height: 75%;
}

#texas:hover {
  transform: scale(1.1); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); 
}

#veto {
  width: 75%;
  height: 75%;
  position: relative;
}

#veto:hover {
    transform: scale(1.1); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); 
}

/*Navigation section*/
#hover:hover img {
  opacity: 0.8;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.2); 
}
/*Style text in early Life*/
#coolzies {
    font-family: "Orbitron", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(59, 45, 45);
    text-shadow: 0 0 5px #888, 0 0 10px #777, 0 0 20px #666, 0 0 40px #555, 0 0 80px #444;
  }

.boxxx {
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.2); 
}


  #Size {
    height: 75%;
    width: 75%;
  }
/*Style text behind Image*/
.behind {
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(59, 45, 45);
  text-shadow: 0 0 5px #888, 0 0 10px #777, 0 0 20px #666, 0 0 40px #555, 0 0 80px #444;
}
#behindVeto {
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  color: rgb(59, 45, 45);
  text-shadow: 0 0 5px #888, 0 0 10px #777, 0 0 20px #666, 0 0 40px #555, 0 0 80px #444;
}


/*Move image Left*/
.animate-veto {
  animation-name: translate-x;
  animation-duration: 2s;
  animation-fill-mode: forwards;  
}

  @keyframes translate-x {
    from { transform: translateX(0); }
    to { transform: translateX(-900px); }
  }


  #vh-height {
    height: 100vh;
  }

/*Move image right*/
.animate {
  animation-name: translate-x-;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes translate-x- {
  from { transform: translateX(0); }
  to { transform: translateX(900px); }
}

/*Flag Section*/

#Left1 {
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes left {
  from { transform: translateX(-1000px); }
  to { transform: translateX(0px); }
}
#top1 {
  animation-name: top1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  opacity: 0; 
}
@keyframes top1 {
  from {
    transform: translateY(-1000px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
#right1 {
  animation-name: right1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  opacity: 0; 
}
@keyframes right1 {
  from {
    transform: translateX(1000px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
#left2 {
  animation-name: left2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0; 
}
@keyframes left2 {
  from {
    transform: translateX(1000px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
#right2 {
  animation-name: right2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0; 
}
@keyframes right2 {
  from {
    transform: translateX(-1000px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
#bottom1 {
  animation-name: bottom1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  opacity: 0; 
}
@keyframes bottom1 {
  from {
    transform: translateY(1000px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#arrow {
  animation-name: clickMe;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
}

@keyframes clickMe {
  0% {
      transform: scale(1) ; 
  }
  50% {
      transform: scale(1.5); 
  }
  100% {
      transform: scale(1); 
  }
}

.Whoosh-Right {
  animation-name: translate-x;
  animation-duration: 2s;
  animation-fill-mode: forwards;  
}

  @keyframes translate-x {
    from { transform: translateX(0); }
    to { transform: translateX(500px); }
  }